<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Horarios</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen>
    <ion-card *ngFor="let veiculo of veiculos">
        <ion-item>
            <ion-icon name="bus" slot="start"></ion-icon>
            <ion-label>{{veiculo.partida}}</ion-label>
            <ion-label>{{veiculo.adaptado}}</ion-label>
        </ion-item>
    </ion-card>
</ion-content>
