<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Linhas</ion-title>
    </ion-toolbar>
    <ion-toolbar>
        <ion-searchbar placeholder="Digite o n&uacute;mero da linha"
                       (ionChange)="filtrarLinha($event)">
        </ion-searchbar>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen>
    
    <ion-card *ngFor="let linha of linhas">
        <ion-item>
            <ion-img slot="start" style="width: 35px; height: 35px;" src="https://image.winudf.com/v2/image/Y29tLnRhY29tLnNpdW1vYmlsZXRoZV9pY29uXzE1MTk3OTMzMTlfMDEy/icon.png?w=170&fakeurl=1"></ion-img>
            <ion-label>{{linha.id}}</ion-label>
            <ion-button color="dark" fill="outline" (click)="getLinhas(linha.id)">Ver Hor&aacute;rios</ion-button>
        </ion-item>
    </ion-card>
    <ion-infinite-scroll (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content loadingText="Loading more data...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
    <ion-virtual-scroll [items]="items" approxItemHeight="320px">
        <ion-card *virtualItem="let item; let itemBounds = bounds;">
            <div>
                <ion-img [src]="item.imgSrc" [height]="item.imgHeight" [alt]="item.name"></ion-img>
            </div>
            <ion-card-header>
                <ion-card-title>{{ item.name }}</ion-card-title>
            </ion-card-header>
            <ion-card-content>{{ item.content }}</ion-card-content>
        </ion-card>
    </ion-virtual-scroll>
</ion-content>