<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Linhas</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen>
    <ion-card *ngFor="let linha of linhas">
        <ion-item>
            <ion-icon name="bus" slot="start"></ion-icon>
            <ion-label>{{linha.itinerario}}</ion-label>
            <ion-button fill="outline" slot="end" (click)="getLinhas(linha.id)">Ver Horarios</ion-button>
        </ion-item>
    </ion-card>
</ion-content>
