<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Inicio</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
    <ion-img style="width: 150px; height: 150px; margin-left: 90px; " src="assets/imag/Bus.png" class="logo"></ion-img>
    <ion-item>
        <ion-label>
            <h1 style="text-align:center;"> Version 1.0.0</h1>
        </ion-label>
    </ion-item>
    <ion-card>
        <ion-card-content>
            E um aplicativo que exibe o horário de ônibus da cidade de Belo Horizonte/MG juntamente com a informação dos veículos com acessibilidade.
        </ion-card-content>
    </ion-card>
</ion-content>
<ion-header collapse="condense">
    <ion-toolbar>
        <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
</ion-header>