<ion-header [translucent]="true0">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Inicio</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
    <center><ion-img style="width: 150px; height: 150px; margin-left: 30px; " src="assets/imag/Bus.png" class="logo"></ion-img></center>
    <ion-item>
        <ion-label>
            <h1 style="text-align:center;"> Version 1.0.0</h1>
        </ion-label>
    </ion-item>
    <ion-card>
        <ion-card-content>
            O MyBus é um aplicativo de ônibus que usa a mobilidade como seu pilar principal.
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-content>
            O MyBus foi pensado para ser um aplicativo para pessoas portadoras de necessidades especiais
            que utilizam o transporte público como ferramenta de deslocamento.
            Ele informa para o passageiro sobre determinada rota de um ônibus específico
            e informa também, se aquele ônibus é ou não adaptado para cadeirantes. 
        </ion-card-content>
    </ion-card>
</ion-content>

