<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Quem somos</ion-title>
    </ion-toolbar>

</ion-header>

<ion-content fullscreen>
    <ion-list>
        <ion-item>
            <ion-avatar slot="start">
                <img src="https://i.ibb.co/vmGnWGV/IMG-2854-1.jpg">

            </ion-avatar>
            <ion-label>
                <h2>Marcos Caldas</h2>
                <h3>Desenvolvedor Mobile Junior</h3>
            </ion-label>
        </ion-item>
        <ion-card>
            <ion-card-header>
                <ion-card-title>Sobre o desenvolvedor</ion-card-title>
                <ion-card-subtitle>Analista de Suporte Jr at Stefanini Brasil</ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
                Marcos tem 21 anos, mora na cidade de Nova Lima/MG e atualmente e estudante do 6 peri odo do curso de ciencia da computacao na faculdade UniBH.
            </ion-card-content>
        </ion-card>
        <br>
        <ion-item>
            <ion-avatar slot="start">
                <img src="https://media-exp1.licdn.com/dms/image/C4E03AQFlw3Et7_y_yw/profile-displayphoto-shrink_800_800/0?e=1598486400&v=beta&t=7jRi3QVn2w-Bhb2kH6omE7wFaeCoE8s7wBjCMcPXIiw">
            </ion-avatar>
            <ion-label>
                <h2>Elisângela Gonçalves</h2>
                <h3>Desenvolvedora Mobile Junior</h3>
            </ion-label>
        </ion-item>
        <ion-card>
            <ion-card-header>
                <ion-card-title>Sobre a desenvolvedora</ion-card-title>
            </ion-card-header>

            <ion-card-content>
                Elisângela residente na cidade de Belo Horizonte/MG estudante do 6º período do curso de Ciência da Computacao na faculdade UniBH, apaixonada por tecnologia e novos desafios.
            </ion-card-content>
        </ion-card>

    </ion-list>

    <ion-fab vertical="end" horizontal="center">
        <ion-fab-button>Social</ion-fab-button>
        <ion-fab-list side="top">
            <ion-fab-button>
                <ion-icon name="logo-facebook"></ion-icon>
            </ion-fab-button>
            <ion-fab-button>
                <ion-icon name="logo-twitter"></ion-icon>
            </ion-fab-button>
            <ion-fab-button>
                <ion-icon name="logo-linkedin"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>

</ion-content>