<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Quem somos</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen>
    <ion-list>
        <p>
            <ion-item>
                <ion-avatar slot="start">
                    <img src="https://i.ibb.co/vmGnWGV/IMG-2854-1.jpg">
                </ion-avatar>
                <ion-label>
                    <h2>Marcos Caldas</h2>
                    <h3>Desenvolvedor Mobile Junior</h3>
                </ion-label>
            </ion-item>
        </p>
            <ion-card>
                <p>
                    <center>
                        <ion-card-subtitle>Sobre o desenvolvedor</ion-card-subtitle>
                    </center>
                    <ion-card-content>
                        Marcos é residente da cidade de Nova Lima/MG, estudante do 6º período do curso de Ciência da Computacao na faculdade UniBH, sempre foi apaixonado por tecnologia e novos desafios.
                    </ion-card-content>
                </p>
            </ion-card>
            <ion-item>
                <ion-avatar slot="start">
                    <img src="https://media-exp1.licdn.com/dms/image/C4E03AQFlw3Et7_y_yw/profile-displayphoto-shrink_800_800/0?e=1598486400&v=beta&t=7jRi3QVn2w-Bhb2kH6omE7wFaeCoE8s7wBjCMcPXIiw">
                </ion-avatar>
                <ion-label>
                    <h2>Elisângela Gonçalves</h2>
                    <h3>Desenvolvedora Mobile Junior</h3>
                </ion-label>
            </ion-item>
        <ion-card>
            <p>
                <center>
                    <ion-card-subtitle>Sobre a desenvolvedora</ion-card-subtitle>
                </center>
                <ion-card-content>
                    Elisângela residente na cidade de Belo Horizonte/MG estudante do 6º período do curso de Ciência da Computacao na faculdade UniBH, apaixonada por tecnologia e novos desafios.
                </ion-card-content>
            </p>
        </ion-card>
    </ion-list>
</ion-content>